<h1>Cocktails#index</h1>
<hr>
<%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-primary" %>
<hr>
<% @cocktails.each do |cocktail| %>

  <% unless cocktail.photo.blank? %>
  <%= cl_image_tag cocktail.photo, height: 50, width: 50, crop: :fill %>
  <% end %>

  <p><%= link_to cocktail.name, cocktail_path(cocktail)  %></p>
  <hr>
<% end %>

